.main{
	float: left;
	font-family:sans-serif;
	font-size:10px;
	width:700px;
	height:145px;
	background: whitesmoke;
	border-style:solid;
	border-color:#369;
	border-width:thin;
	margin-bottom:15px;
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
}

.description{
	font-size:14px;
}
.sidebar{
	float:right;
}
.to_do_list{
	background: whitesmoke;
	margin: 0px 0px 0px 0px;
	width:180px;
	border-style:solid;
	border-color:#369;
	border-width:thin;
	margin-bottom:15px;
	border-radius: 20px;
	padding:12px;
}
.friendlink{
	background: whitesmoke;
	margin: 0px 0px 0px 0px;
	width:180px;
	border-style:solid;
	border-color:#369;
	border-width:thin;
	margin-bottom:15px;
	border-radius: 20px;
	padding:12px;
}
.posts{
	float: left;
	margin: 15px 0px 10px 0px;
	height: 120px;
	width:480px;
	background: whitesmoke;
}
img{
	height:145px;
	width:145px;
	float: right;
}
li{
	list-style-type: none;
	font-size:14px;
}
.span12{
}
