.blogcontent,p {
	font-size: 15px ;
	line-height:23px;
}
p{
	text-indent:2em;
}
li{
	line-height:23px;
}
img{
	float: left;
	margin-right:1.5em;
	margin-left:1.5em;
	margin-bottom:1.5em;
	margin-top:1.5em;
}
.book{
	height:650px;
	width: 100%;
}
.photo img{
	float: none;
	margin-right:1.5em;
	margin-left:1.5em;
	margin-bottom:1.5em;
	margin-top:1.5em;
}